.navbar {
  height: 130px;
  background-image: linear-gradient(to left bottom, #7e7b71, #888168, #92875e, #9c8c54, #a69249, #b09a47, #bba145, #c5a942, #d2b549, #e0c150, #edcd58, #fbd95f);
  box-shadow: 0 0 5px !important;
}
@media only screen and (min-width: 0) and (max-width: 576px) {
  .navbar {
    color: black !important;
    background-color: black !important;
    display: flex !important;
    justify-content: right !important;
  }
}

.navbar li {
  padding: 5px;
}

.navbar-brand img {
  height: 70px;
}

.nav-link {
  color: black !important;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.nav-link:hover {
  color: gold !important;
  background-color: black !important;
}

.nav button {
  color: black !important;
}

.navbar span {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.jumbotron {
  background-image: url(/img/1.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 30px;
  background-position: center;
  display: flex;
}
.jumbotron .container {
  justify-content: center !important;
  width: 100%;
}
.jumbotron h1 {
  color: black;
  background-color: rgba(128, 128, 128, 0.144);
  box-shadow: rgb(214, 4, 4), !important;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
  margin: 10px;
}
.jumbotron p {
  color: white;
  background-color: rgba(128, 128, 128, 0.144);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
  margin: 100px;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 30px;
}
.jumbotron a {
  color: burlywood;
  background-color: red;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

main {
  background-image: linear-gradient(to left bottom, #7e7b71, #888168, #92875e, #9c8c54, #a69249, #b09a47, #bba145, #c5a942, #d2b549, #e0c150, #edcd58, #fbd95f);
}

.nuestros-productos-home {
  background-color: transparent;
  height: auto;
  padding: 20px;
}
.nuestros-productos-home h2 {
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  font-size: 40px;
}
.nuestros-productos-home h2 :hover {
  transform: scale(1.04) !important;
}

.card {
  border-radius: 20px;
  background-color: transparent;
  height: 500px;
  padding: 10px;
  margin-bottom: 20px;
}
.card :hover {
  transform: scale(1.02);
}

.card-img-top {
  border-radius: 20px;
}

.card-title {
  font-size: 25px;
  justify-self: end;
}

.p {
  justify-content: center;
  padding: 10px;
}

.a {
  width: 300px;
  padding: 30px;
}

.btn:hover {
  color: beige !important;
  background-color: red !important;
}

.localeshome {
  background-color: transparent;
}
.localeshome h2 {
  padding: 20px;
}
.localeshome .tarjetalocal {
  display: flex;
  justify-content: space-around;
}

.tarjetanosotros {
  margin: 15px;
  display: flex !important;
}
.tarjetanosotros .card {
  margin-top: 10px;
  border: none;
  display: flex;
  text-align: center !important;
  background-color: transparent;
}
.tarjetanosotros .card .card-img-top {
  border-radius: 40% !important;
}
.tarjetanosotros .card .h3 {
  text-align: center !important;
}
.tarjetanosotros .card:hover {
  scale: 1.04;
}

.nuestrahistoria h1 {
  color: green !important;
  background-color: none;
}
.nuestrahistoria .lead {
  background-color: rgba(100, 84, 84, 0.075) !important;
}
.nuestrahistoria .img-fluid:hover {
  scale: 1.02;
}

.button .subir:hover {
  background: rgb(134, 45, 45);
  color: black;
}

footer {
  background-color: black;
}
footer .container span {
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
footer .container .d-flex a i {
  color: white;
  padding: 20px;
  font-size: 50px;
}
footer .container .d-flex a i:hover {
  color: #bba145;
  transform: scale(1.2);
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
  position: relative;
}

#galeria img {
  width: 100%;
  transition: all 10ms;
  filter: sepia(100%);
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

#galeria img:hover {
  border: 5px solid black;
  transform: scale(1.1);
  border-radius: 0;
  filter: none;
}

#galeria img .overlay:hover {
  cursor: pointer;
}

.carousel-item {
  filter: sepia(80%) !important;
  transition: 0.5s ease;
}

.carousel-item:hover {
  filter: none !important;
}

.carousel-control-next-icon:hover {
  background-color: green !important;
  height: 50px;
  width: 50px;
}

.carousel-control-prev-icon:hover {
  background-color: green !important;
  height: 50px;
  width: 50px;
}

.divcontenedor {
  margin-left: 30px;
  margin-right: 30px;
  justify-content: center;
}
.divcontenedor .card {
  height: auto;
}
.divcontenedor .card img {
  filter: sepia(100%);
  border-radius: 0;
}
.divcontenedor .card img:hover {
  transform: none;
  filter: none;
}
.divcontenedor .card .card-body {
  background-color: transparent;
}
.divcontenedor .card .card-body h4 {
  font-weight: bold;
}
.divcontenedor .card .card-body h4:hover {
  transform: none;
}
.divcontenedor .card .card-body p:hover {
  transform: none;
}
.divcontenedor .card .card-body a {
  color: black;
  background-color: #c5a942;
  border-radius: 20px;
  transition: 0.3s ease;
}
.divcontenedor .card .card-body a:hover {
  font-weight: bold;
  color: yellow !important;
  background-color: black !important;
  border-radius: 0;
}
.divcontenedor .card:hover {
  filter: none;
}
.divcontenedor .btn-toolbar {
  justify-content: center;
  margin-bottom: 30px;
  padding: 30px;
}
.divcontenedor .btn-toolbar .btn-group {
  padding: 30px !important;
  margin: 20px;
}
.divcontenedor .btn-toolbar .btn-group .btn {
  padding: 20px;
  font-size: 20px;
  color: black;
}
.divcontenedor .btn-toolbar .btn-group .btn i {
  text-decoration: none !important;
  color: black;
}
.divcontenedor .btn-toolbar .btn-group .btn:hover {
  background-color: black !important;
  color: yellow !important;
  font-weight: bold;
}
.divcontenedor .btn-toolbar .btn-group .btn:hover i {
  color: yellow;
}/*# sourceMappingURL=styles.css.map */