// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.navbar {
    height: 130px;
    background-image: linear-gradient(to left bottom, #7e7b71, #888168, #92875e, #9c8c54, #a69249, #b09a47, #bba145, #c5a942, #d2b549, #e0c150, #edcd58, #fbd95f);
    box-shadow: 0 0 5px !important;  
    @media only screen and (min-width: 0) and (max-width: 576px) {
      color: black !important;
      background-color: black !important;
      display: flex !important;
      justify-content: right !important;
    }
  }
  
  .navbar li {
    padding: 5px;
  }
  
  .navbar-brand img {
    height: 70px;
  }
  
  .nav-link {
    color: black !important;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .nav-link:hover{
    color:gold !important;
    background-color: black !important;
  }
  
  .nav button {
    color: black !important;
  }
  
  .navbar span {
    color: black;
    font-weight: bold;
    font-size: 30px;
  }
  
.jumbotron{
    // background-image:linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.1)), url(/img/1.jpg);
    background-image: url(/img/1.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 30px;
    background-position: center;
    display: flex;
    .container{
        justify-content: center !important;
        width: 100%;
    }
    h1{
        
        color: black;
        background-color: rgba(128, 128, 128, 0.144);
        box-shadow: rgb(214, 4, 4, 2), !important;
        font-size: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 30px;
        margin: 10px;
    }
    p{
        
        color: white;
        background-color: rgba(128, 128, 128, 0.144);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        // width: 300px;
        padding: 30px;
        margin: 100px;
        margin-right: 100px;
        margin-left: 100px;
        font-size: 30px;
    }
    a{
        color: burlywood;
        background-color: red;
        padding: 10px;
        margin: 10px;
        width: 200px;
    
    }
}
main{
    background-image: linear-gradient(to left bottom, #7e7b71, #888168, #92875e, #9c8c54, #a69249, #b09a47, #bba145, #c5a942, #d2b549, #e0c150, #edcd58, #fbd95f);}

.nuestros-productos-home{
    background-color: transparent;
    height: auto;
    padding: 20px;
    
    h2{
        padding: 10px;
        margin-bottom: 10px;
        background-color: transparent;
        font-size: 40px;
        :hover{
            transform: scale(1.04) !important;
        }
    }    
    }
    .card{
        border-radius: 20px;
        background-color: transparent;
        height: 500px;
        padding: 10px;
        margin-bottom: 20px;
        :hover{
            transform: scale(1.02);
        }
        
    }
    .card-img-top{
        border-radius: 20px;
    }
    .card-title{
        font-size: 25px;
        justify-self:end;
        
    }
    .p{
        justify-content: center;
        padding: 10px;
    }
    .a{
        width: 300px;
        // background-color: brown;
        // color: yellow !important;
        padding: 30px;
    }
    .btn:hover{
        color: beige !important;
        background-color: red !important;
    }

.localeshome{
    background-color: transparent;
    h2{
        padding: 20px;
        // margin: 20px;
    }
    .tarjetalocal{
        // margin: 20px;
        display: flex;
        justify-content: space-around;
        
    }
    // .a{
    //     color: aqua !important;
    // //     .btn{
    // //         $text-color: red;
    // //     }
    // // }
    
}

// .tarjetanosotros{
//     .card{
//         margin: 20px;
//         padding: 5px;
//     }
// }
.tarjetanosotros{
    margin: 15px;
    display: flex !important;
    .card{
        margin-top: 10px;
        border: none;
        display: flex;
        text-align: center !important;
        background-color: transparent;
        .card-img-top{
            border-radius: 40% !important;
        }
        .h3{
            text-align: center !important;
        }
        
    }
    .card:hover{
        scale: 1.04;
    }
}

.nuestrahistoria{
    h1{
        color: green !important;
        background-color: none;
    }
    .lead{
        background-color: rgba(100, 84, 84, 0.075) !important;
    }
    .img-fluid:hover{
        scale: 1.02;
    }
}

// subir (tuve que modificarlo en el html pq no me lo tomaba, revisar)
// .subir{ 
//     height: 50px !important;
//     width: 50px;
//     color:white;
//     position: fixed !important;
//     bottom: 20px !important;
//     right: 10px !important;
//     text-align: center;
//     font-size: 30px;
//     text-shadow: 0 3px 5px gray;
// }
// .subir:hover{
//     color: black;
//     background: rgb(134, 45, 45);
// }
// // subir
.button .subir:hover{
    background: rgb(134, 45, 45);
    color: black;
}


// ---------------footer-------------
// footer{
//     background-color: black !important;
//     text-align: center;
//     color: white;
//     padding: 20px;
//     font-size: 20px;
// }
// footer p{ 
//     margin-bottom: 20px;
// }

// footer i{
//     letter-spacing: 30px;
// }
// footer a .facebook:hover{
//     color: fuchsia;
// }

// --------galeria pagina--------
footer{
    background-color: black;
    .container{

        span{
            color:white;
            display: flex;
            justify-content: center;
            padding:30px;
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: bold;
        }
        .d-flex{
            a{
                i{
                   color:white;
                   padding: 20px;
                   font-size: 50px;
                }
                i:hover{
                    color:#bba145;
                    transform: scale(1.2);
                }
            }
        }
    }
}

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
    position: relative;
    
}
#galeria img{
    width: 100%;
    // height: 250px;
    transition: all 10ms;
    filter: sepia(100%);
    // padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    transition: .5s ease;
}
#galeria img:hover{
    border: 5px solid black;
    transform: scale(1.1);
    border-radius: 0;
    filter: none;

}
#galeria img .overlay:hover{
    cursor: pointer;
}
.carousel-item{
    filter: sepia(80%) !important;
    transition: .5s ease;
    
}
.carousel-item:hover{
    filter: none !important;
}
.carousel-control-next-icon:hover{
    background-color: green 
    !important;
    height: 50px;
    width: 50px;
}
.carousel-control-prev-icon:hover{
    background-color: green 
    !important;
    height: 50px;
    width: 50px;
}
// .overlay{
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     padding: 25px;
//     background-color: #b09a47;
//     width: 100%;
//     height: 0;
//     transition: 1s ease;
//     overflow: hidden;
// }
// .overlay h3{
//     color: white;
//     font-size: 30px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     text-align: center;
//     transform: translate(-50%, -50%);
//     font-weight: 300;
// }
// galeria pagina fin


// blogstyle

.divcontenedor{
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    .card{
        height: auto;
        img{
        filter: sepia(100%);
        border-radius: 0;
        }
        img:hover{
            transform: none;
            filter: none;
        }
        .card-body{
            background-color: transparent;
            h4{
                font-weight: bold;
            }
            h4:hover{
                transform: none;
            }
            p:hover{
                transform: none;
            }
            a{
                color: black;
                background-color:#c5a942;
                border-radius: 20px;
                transition: .3s ease;
            }
            a:hover{
                font-weight: bold;
                color: yellow !important;
                background-color: black !important;
                border-radius: 0;
            }
        }
    }
    .card:hover{
        filter: none;
    }
    
    // btntoolbar
    .btn-toolbar{
        justify-content: center;
        margin-bottom: 30px;
        padding: 30px;
        .btn-group{
            padding: 30px !important;
            margin: 20px;
            .btn{
                padding: 20px;
                font-size: 20px;
                color: black;
                i{
                    text-decoration: none !important;
                    color: black;
                }
            }
            .btn:hover{
                background-color: black !important;
                color: yellow !important;
                font-weight: bold;
                i{
                    color: yellow;
                }
            }

        }
    }
    }
